.chatBtn {
    color: #fff;
    background-color: #0d3976 !important;
    margin: 0.375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: 0.125rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    /* transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out; */
    padding: 0.84rem 2.14rem;
    font-size: .81rem;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

}

.col strong {
    color:black;
}
.card_ {
    background-color: #fff0;
    width: 100%;
}

.bodyCard_ {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    padding: 6px;
}
.chatbox .list-group {
    max-height: 7rem;
    overflow: scroll;
    margin-bottom: 0.2rem;
    background-color: #fff;
}



  
hr {
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
    background-color: #fff;
    border: 0;
    
    padding: 0.1px;
    border-top: 1px solid rgba(0,0,0,.1);
}