
 .chatSupportBody{
   background-color: #f9f9f93d;
}
.nav_admin {
      border-bottom: 1px solid #00000020;
    display: flex;
    width: 100%;
    padding: 10px;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    background: #fff;

}

.img_logo_ {
  width: 14%;
}

.img_logo_ img {
    width: 14rem;
    height: 3rem;
}


.adminSupport {
    display: flex;
    width: 100%;
}

.chatUsers {
    width: 60%;
    padding: 10px;
}
.chatUsers h2 {
    text-align: center;
}

.listUsers {
    padding: 10px;
    width: 30%;
    text-align: center;
    border-right: 1px solid #00000020;
    height: 40rem;
    border-radius: 5px;
}


h5 {
    font-weight: 400;
    font-family: system-ui;
    letter-spacing: 2px;
}
.listUsers h3 {
    font-size: 1.3rem;
    font: xxx-large;
    font-weight: bolder;
    letter-spacing: 3px;
}
h4 {
    color: black;
    font-size: 1.3rem;
    /* font: -webkit-small-control; */
    letter-spacing: 14px;
    text-align: center;
    font-weight: 400;
}
h3 {
    text-align: center;
    font-weight: 400;
    font-optical-sizing: auto;
    font-family: inherit;
    font-size: 1.7rem;
}
h2 {
    font-weight: 400;
    font-optical-sizing: auto;
    font-family: inherit;
    font-size: 1.7em;
    letter-spacing: 3px;
}
.nav_admin span {
  
}


.chatSupportBody {
    margin: 10px;
}

.chatInput {
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 85%;
    border-radius: 10px 0px 0px 10px;
    overflow: visible;
}
.btnChat {
    background: #4285f4b0;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
}
.listChat {
    border: 1px solid #00000020;
    padding: 10px;
    margin: 10px;
    border-radius: 91px;
}
.btnChat {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(0,0,0,.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb),.5);
    background-color: var(--bs-btn-bg);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    color: var(--bs-btn-color);
    cursor: pointer;
    display: inline-block;
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    background: #4285f4b0;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    user-select: none;
}

.btn_input:focus {
    background-color: #fff;
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    color: #212529;
    outline: 0;
}



.listChat_ {
    height: 68vh;
    margin-bottom: 1rem;
    overflow: scroll;

}

.btn_input {

        display: flex;
        flex-wrap: nowrap;
        position: relative;
        width: 100%;
    
}
#info {
    background-color: #7dabf7;
    color: #Fff;
    font-weight: 600;
    cursor: pointer;
}

.listGroupe:hover { 
    cursor: pointer;
}


.supportLive {
    width: 10%;
    padding: 10px;
    border-left: 1px solid #dddddd;

}

.supportLive  h3 {
        writing-mode: vertical-lr;
        text-orientation: unset;
        font-size: 1.3rem;
        height: 28rem;
        letter-spacing: 3px;
}

.liveLap {
    width: auto;
    background-color: #31a24c;
    height: auto;
    margin: 7px;
    padding: 0px 0px 25px 0px;
    border-radius: 50%;
}
span > a {
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: black;
    font-size: 1.1rem;
}
.listGroupe {
    position: relative;
    /* display: block; */
    display: flex;
    margin: 4px;
    padding: 0.75rem 4.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;;
}

.listGroupe {

}


@media only screen and (max-width: 500px) {

    .listUsers {
        width: 30%;
     
    }
    .listGroupe {
           position: relative;
        /* display: block; */
        display: flex;
        margin: 4px;
        padding: 0.55rem 2.25rem;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        align-items: center;
        flex-direction: column;
        margin: -6px;
    }

    .chatUsers {
        width: 80%;
}
.supportLive {
    display: none;
}

.nav_admin h2 {
    text-align: center;
    width: 9rem;
}


.nav_admin h2 {
    font-size: 12px;
    font-weight: 600;
}
.nav_admin {
    padding: 0px;
}
.container-fludi {
    margin: 0;
    padding: 0;
}

.chatSupportBody {
    margin: 5px;
}
}