.buyerInfoAdmin {
    background-color: #f9f9f9;;
  /* background-image: url("https://img.freepik.com/premium-vector/e-commerce-icon-robotic-hand-internet-shopping-online-purchase-add-cart_127544-586.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
 .chatSupportBody{
   background-color: #f9f9f93d;
}
.nav_admin {
      border-bottom: 1px solid #00000020;
    display: flex;
    width: 100%;
    padding: 10px;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    background: #fff;

}
.info_ span {
    font-weight: 400;
    border-bottom: 1px solid #a2a2a2;
    width: 100%;
}

.img_logo_ {
  width: 14%;
}

.img_logo_ img {
    width: 14rem;
    height: 3rem;
}


.productOrder {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;

}

.listOrder {
    width: 100vh;
    margin: 10px;
}


.buyerInfo {
    border-radius: 1rem;
    margin: 2rem;    /* height: 5rem; */
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 36px;

    background: linear-gradient(1deg, #fbfbfb, #f4f4f4);
    box-shadow: 13px 13px 22px #ccccccb5, -13px -13px 22px #ffffff;
}

.buyerInfo h5 {
    font-weight: 600;
    color: rgb(52 105 149);

}

.info_ {
    display: flex;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    flex-direction: row;
}
.infoBuyerDeatils {
  display: flex;
  padding: 10px;
  width: 50%;
  flex-direction: column;
  align-items: center;
}



.infoBuyerDeatils::before {

}

.info_ span {
    font-weight: 400;

}


.buyerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.buyerButton button {
    margin: 1rem;
    padding: 5px;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 10px;
}
.nav_admin h2 
{
  font-family: sans-serif;
    PADDING: 0;
    margin: 0;
    font-size: 1.6rem;
}

.buyerButton button:hover {
  transition: 0.5s;
  background-color: rgb(67 155 67);
  color: #Fff;
  font-weight: 400;
}

h5 {
    margin: 0;
} 
.infoNamePrice {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
.infoNamePrice span {
    font-weight: 500;
    font-family: revert;
}

hr.hr-1 {
    border: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }



  .product_info_all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .product_info_all div{
    display: flex;
    padding: 4px 10px 0px 10px;
  }


  .productEdit {
    display: flex;
    flex-direction: column;
    margin:10px
  }
  


  .scrollProduct {
    overflow: scroll;
    overflow-x: hidden;
    height: 10rem;
  }


  .noProductOrder {
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
  }

  .noProductOrder h2 {
    font-size: 2rem;
    font-weight: 400;

  }




  @media only screen and (max-width: 700px) {
    .img_logo_ img {
      width: 8rem;
      height: 2rem;
  }

  .nav_admin h2 {
    font-size: 1rem;
  }

  .img_logo_ {
    width: 22%;
  }
  .nav_admin h2 {
    width: 7rem;
  }

  .listOrder {
    width: 57vh;
  }

  .product_info_all div {
    padding: 0;
  }
  .productEdit {
    margin: 5px;
  }
  .scrollProduct {
    max-height: 10rem;
    height: 5rem;
  }

  .info_ {
    display: flex;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 100%;
    letter-spacing: 2px;
    flex-direction: column;
    align-items: center;
}

.buyerInfo {
  margin: 0.5rem;
}
  }