@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    /* overflow-x: clip; */
    padding: 0;
}
.media {
  display: flex;
  align-items: center;
  flex-direction: column;
}
label {
  color: black;
}

h2 {
  font-family: ui-monospace;}
p {
  font-family:sans-serif;;
}
.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

.error-msg {
    color: red;
    font-size: 12px;
    font-weight: 600;
}

@media(max-width: 768px) {
    .mybtn {
        width: 100%;
    }
}

html,
body {
    height: 100vh;
    font-family: 'Open Sans', serif;
    margin: 0 auto;
    color:  #ee7e2c;

}


.logo_img {
    width: 2rem;
    height: 2rem;
}


/* navbar */
.container {
    margin: 0 auto;

}
.container-fluid {
  margin: 0 auto;
}
/* 
display: grid;
grid-template: auto 1fr auto / auto 1fr auto; */
span {
  text-align: center;
}

.links_ {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  font-weight: 500;
}
.links_ > span > a {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: rgb(0, 0, 0);
}
nav {
  background: #fff;
}

.nav-header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
}
.nav-header>img{
  width: 14rem;
  height: 3rem;
}
.nav-toggle {
  font-size: 1.9rem;
  color: #31bdec;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  margin-left: 1.9rem;

}
.nav-toggle:hover {
    color: var(--clr-primary-1);    
}

.logo{
    height: 70px;
    width: 70px;
    border-radius: 63px;
}

.links {
   color: var(--clr-grey-3);
   font-size: 1rem;
   text-transform: capitalize;
   letter-spacing: var(--spacing);
   display: block;
   padding: 0.5rem 1rem;
   font-weight: 500;
}

.links> span > .navlink {
     background: var(--clr-primary-8);
     color: var(--clr-prirmay-5);
     margin-left: 2rem;
}

.links {
    /* overflow: hidden; */
    transition: var(--transition);
}

.show-links {
    height: 10rem;
}

span > a {
    text-decoration: none;
    text-align: center;
  
}
span > a:hover {
    transition: 0.5s;
}

/*  */
.links_login{
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-group {
  color: #fff;
}
.span > a {
  color: #fff;
}

.link {
  color: #Fff; font-weight: 400;
}


.links_login {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: flex;
 }
 
 .links_login> span > .navlink {
      background: var(--clr-primary-8);
      color: var(--clr-prirmay-5);
 }
 
.links_login> span > .navlink {
    background: var(--clr-primary-8);
    color: var(--clr-prirmay-5);
    padding:0.2rem;
    /* font-size: 1.3rem; */
}

.links_login> span > .navlink:hover {
   color: #03b5f1;
   font-weight: 440;
}

 
.links_login> span > button  {
   border: none;
   padding: 0.3rem;
   border-radius: 5px;
   background-color: rgb(125, 119, 119);
   color: rgb(255, 255, 255);
}

.links_login> span > button:hover {
    transition: 3ms;
    background-color: rgba(230, 0, 0, 0.649);
    color: white;
}
.navlinkUser {
    right: 2rem;
    top: 4rem;
    position: absolute;
    color: black;
}
@media screen and (min-width:800px) {
    .nav-center {
        margin: 0 auto;
        display: flex;
        height: 4rem;
        align-items: center;

        justify-content: space-between;
     
    }
}

.row {
  justify-content: space-evenly;
  margin: 2rem;
}

/* navbar-two */
.navbar-two {
  /* background-image: linear-gradient(90deg, #ee7e2c 50%, #ee7e2c 48%, #ee7e2c 50%);    height: 4rem; */
  background: #000a25;
}
.navbar-two > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 22px;

}
.navbar-two > div > button {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  /* padding: 5px; */
  font-weight: 500;
}

.navbar-two > div > button:hover {
  color: #ee7e2c;
}
/* span > a:hover {
  background: #da4207;
} */
/* Logut */

/* .navigation {
    width: 100%;
  }
   */
   .nav-ling img {
    width: 45px;
   }
  .img_ {
    width: 25px;
    border-radius: 50px;
    float: left;
  }
  
  .logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
      position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    
  }
  .cart_ {
    margin: 5vh auto;
  }
  .button {
    text-decoration: none;
    float: right;
    /* padding: 12px; */
    margin: 15px;
    color: white;
    width: 25px;
    /* background-color: black; */
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
}
  
  
  a:hover {
    width: 127px;;
  }
  
  a:hover .logout{
    opacity: .9;
  }
  
  a {
    text-decoration: none;

  }


  /* Carousel */

  .w-100 {
    width: 100% !important;
    height: 35rem;
}

.carousel_caption {
  position: absolute;
  right: 0%;
  bottom: 200px;
  left: 0%;
  height: 11rem;
  bottom: 11.25rem;
  border-radius: 13px;
  /* padding-top: 1.25rem; */
  padding-bottom: 1.25rem;
  padding: 1rem;
  font-weight: 200;
  color: #fffefe;
  background-color: #00000045;

  text-align: center;
  font-family: sans-serif;
}

.span > a {
  color: #ee7e2c;
}

/* product */

#product {
  flex: 1 0 12pc;
    max-width: 13pc;
    flex-wrap: nowrap;
}

.product{
    height: auto; 
    display: flex;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px;
    margin-right: 24px; */
    transition: all 0.3s ease-in-out;
    padding: 12px;
    border-radius: 10px; 
  }
  
  .product:hover {
    box-shadow: 5px 5px 20px 0px rgb(78 124 162 / 58%);
  }
  
  @media(min-width: 768px){
    .product{
      width: 300px;
    }
  }
  
  .product .product-img{
    width: 180px;
    height: 215px;  
  }
  
  .product .product-img img{
    width: 100%;
    height: 100%;
  }
  
  .priceBefore {
    text-decoration: line-through;
    color: red;
  }
  .product .product-text{
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;  
  }
  
  .product .product-text.title{
    color: #e00a02;  
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .product .product-text.description{
    
    overflow: hidden;
  }
  
  .product .product-text.price{
    font-weight: 600;
  }
  
  .product .product-text.cart-price{
    font-weight: 600;
    color: #e00a02;
  }
  
  .cart-btn{
    background-color: #e00a02 !important;
  }
  
  .cart-menu-btn{
    position: relative;  
  }
  
  .cart-menu-btn .cart-indicator{
    background-color: #e00a02d4;
    padding: 1px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    margin-left: -29px;
    margin-bottom: 44px;
    /* position: absolute; */
    padding: 4px;
    /* top: 8px; */
    /* right: 88px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product .quantity-box{
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 5px;
    border: 1px solid #b9b5b5;
    border-radius: 8px;
  }
  
  .product .quantity-box .action-btns{
    font-weight: 600;
    cursor: pointer;
  }
  

  /* Container */
.slider 
{
  background-image: url(https://img.freepik.com/premium-vector/e-commerce-icon-robotic-hand-internet-shopping-online-purchase-add-cart_127544-586.jpg?w=2000);
  padding: 6vh 10px;
}
  .container > h2, .container-fluid > h2 {
    padding: 0px 0px 6px 0px;
    font-size:30px;
    font-weight: bold;
    color: #346995;;
    line-height: 46px;
    border-bottom: #346995 solid 1px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0px;
    margin-bottom: 20px;
  }


  /* butoon */

  .tehno_shop_btn {
    cursor: pointer;
    /* padding: 5px; */
    text-transform: uppercase;
    border: #ee7e2c solid 1px;
    background: #ee7e2c;
    width: 139px;
    padding: 4px 0;
    border-radius: 7px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
  }
  .tehno_shop_btn:hover {
    border: #fff solid 1px;
    background: #fff;
    color: #da4207;
    border-radius: 25px;
    transition: ease-in all 0.5s;
  }

  .paralax {
    height: 400px;
    background-image: url('https://www.grupooneair.com/wp-content/uploads/2017/10/generic-websites-to-find-drone-pilot-jobs.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
  }
  .paralax > h3 { 
    color: rgb(0, 0, 0);
    text-align: center;
  }
.palarax-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff4f;
  border-radius: 16px;
  padding: 18px;
  color: #000;
  font-weight: bold;
  font-style: italic;
}

  .search_products {
    display: flex;
    justify-self: center;
    justify-content: center;
  }

  .search_products > input {
    border-radius: 17px;
    padding: 10px;
    border: none;
    margin: 15px;
    background: #f4f4f4d6;
  }

  .search_products > input:focus-visible {
    border: 1px #da4207 solid;
    margin: 15px;
    background: #ffffff;
  }
  .prodcut{
        margin: 1rem;
  }


  .cart-indicator{
    background-color: #346995;
    padding: 1px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    margin-left: -29px;
    margin-bottom: 40px;
    position: absolute;
    padding: 3px;
    /* top: 8px; */
    /* right: 88px; */
    display: flex;
    justify-content: center;
    align-items: center;

  }



  /* login, submit */


  .container_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }


   .container_  .btn-box {
    display: flex;
    width: 25rem;
    flex-direction: column;
  }


/* admin add to product */

.container_add_product {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* add cart product */


.btne_add_prodcut {
  background: #4caf50;
  padding: 7px;
  border-radius: 13px;
  color: white;
  width: 9rem;
  text-align: center;
  font-weight: 500;
  border: none;
}

.btne_delete_prodcut {
  background: #ff0e0e;
  padding: 7px;
  border-radius: 13px;
  color: white;
  width: 9rem;
  text-align: center;
  font-weight: 500;
  border: none;
}



.box_ {
  display: flex;
  justify-content: center;
}

.summary-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bbb3b326;
  width: 32rem;
  padding: 0px;
  border-radius: 8px;
  border: 1px solid #00000080;
}
  /* footer */

  .footer {
    height: 10rem;
    background-color: #e4e4e4;;
  }
  

/*Hover animation  */

.hover-animation {
  position: relative;
  cursor: pointer;
}
.hover-animation::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ee7e2c;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transform-origin:left;
  transition: transform .25s ease;
}
.hover-animation:hover::after {
  transform: scale(1);
}



/*  */

.links_ > span > a:hover{
 color: #346995;
}


/* filter search input */

.search-pr {
  background: #f0f0f0;
  border: none;
  border-radius: 10px 0px 0px 10px;
  padding: 5px;
}

.search-pr:focus-visible{
  border:#fe9268; 
}

.form-submit {
  border: none;
  border-radius: 0px 17px 17px 0px;
  padding: 5px;
}
.form-submit:hover {
   background-color: #da4207;
   color: #fff;
}



.filter {
  display: flex;
  height: 98%;
  padding: -1px;
  color: black;
  width: 11rem;
  flex-direction: column;
  background-color:'none';
  flex-wrap: wrap;
  align-content: center;
}


.filter >ul > li {
  line-height: 4rem;
  font-size: 0.9;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none;
  letter-spacing: 4px;

}


filter >ul > li> a {
  color:black;
}


.clearFilter {
  margin-top: 10px;
  background: #ca0707;
  color: #fff;
  border: none;
  width: 68%;
  border-radius: 5px;
  padding: 1px;
}

ul > h5 {
  font-weight: 500;
}
.col-full{
  height: 6rem;
}

/* info */ 
.info {
  background-image: url(https://img.freepik.com/premium-vector/e-commerce-icon-robotic-hand-internet-shopping-online-purchase-add-cart_127544-586.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  padding: 3vh;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
}

.header-image > .img_one {
  border-radius: 8px;
  margin-left: 51px;
  height: 203px;
  width: 23rem;
  margin-bottom: -119px;
}
.header-image {
  display: block;
  margin-left: 4vw;
  margin-bottom: 277px;
}



.hover-animation {
  font-size: 0.9rem;
}

.img_two {
    border-radius: 5px;
  /* padding-top: 27px; */
  height: 150px;
  margin-left: -38px;
  border-radius: 17px;
}


.header-text {
  margin: 0 5vw;
  width: 45%;
  height: 29rem;
} 

.header-text > p { 
  color: #ffffff;
  letter-spacing: 2px;
  border-radius: 10px 82px 88px 19px;
  padding: 14px;
  line-height: 28px;
  /* border-radius: 5px; */
  background: #77777775;
}
.shopNow {
  background-color: #a96c6c;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s linear;
  width: 110px;
  border: none;
}

.header-text > h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 2vh;
  text-transform: capitalize;
}

/* top bar */

.top-bar {
  background-color: #f9f9f9;
    font-size: .875em;
    line-height: 1.5em;
    font-weight: 300;
}
.signUpContainer {
  z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.col-full {
  height: 4rem;
}


.col-full > ul  {
  display: flex; 
  justify-content: center;

} 
ul {
  list-style-type: none;
}
.col-full > ul > li> a::before {
  content: '|';
  color: #dedede;
  display: inline-block;
  margin: 0 1.133em;
}

.col-full >ul >li >.before_none::before {
  content: '';
}
.top-bar ul>li>span {
  display: flex;
  align-items: center;
}


.payment {
  display: flex;
  background: #0d3976;
  /* flex-direction: row; */
  justify-content: center;
  height: 3rem;
  color: #Fff;
  width: 100%;
  font-size: 100%;
  align-items: center;
}
.payment > p {
  display: contents;
}


/* price label */
 .amount{

  font-weight: 500;
  line-height: 1.1;
  padding-left: 0.8em;

}
.price-label {
  font-weight: 400;
    display: block;
    font-size: .867em;
    color: #000000;

}


.basket_my {
  border-top: 1px solid #d9cdcd;
}

.navlink >i >svg {
  height: 45px;
  width: 26px;
}


/* registrer  */

.howRegister {
  color: #000021;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 400;
}

.howRegister:hover {
  color: #4caf50;
}


/* FEATURE */

.features-list .features {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  margin: 4vw;
    flex-wrap: wrap;
  justify-content: center;
}
.features-list .features .feature {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.features-list .features .feature {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.7em;
  margin-top: 1.7em;
}

.media {

  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: center;
  justify-content: center;
}
.media_ {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-body {
  flex: 0 1 auto;
  font-size: 1em;
  line-height: 1.313em;
  font-weight: 300;
  color: #333e48;
  text-align: center;
}

.features-list .features .feature .media .media-body h5 {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.313em;
  margin-bottom: 0;
}

h5 {
  clear: both;
    font-weight: 500;
    margin: 0 0 0.5407911001em;
    color: #1f1f1f;
}
.media_ > svg {
  font-size: 2.5em;
  color: #4e7ca2;
}


.features-list .features .feature+.feature {
  border-left: 1px solid #ddd;
}


.left_feature {
  border-left: none;
}

.text-payment {
  margin: 0;
}
.col-full ul li {
  font-weight: 400;
  font-family: revert;

}

.pagination {
	float: right;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}
.pagination li a:hover {
	color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
	background: #03A9F4;
}
.pagination li.active a:hover {        
	background: #0397d6;
}
.pagination li.disabled i {
	color: #ccc;
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px
}
.hint-text {
	float: left;
	margin-top: 5px;
	font-size: 13px;
}   
/* From uiverse.io by @joe-watson-sbf */
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.animationCart {
  width: 46px;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}


.filter-product {
  display: flex;
  align-items: center;
  margin: 20px;

}
.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

input {
  accent-color: #4caf50;
}


.send-message {
  width: 16%;
  text-align: center;
  position: fixed;
  z-index: 10;
  bottom: 0rem;
  right: 0;
}

/* support chat */


.chatbox {
  color: #fff;
  /* position: fixed; */
  /* right: 1rem; */
  bottom: 1rem;
}

.admin .list-group {
  overflow: scroll;
  height: 68vh;
  margin-bottom: 1rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}


.messagePosition {
  padding: 10px;
  width: 23rem;
  height: 16rem;
}
/* responsive */


@media only screen and (max-width: 950px) {
  .header-image > .img_one {
    width: 20rem;
  }

  
  .header-text {
    margin: 0 0vw;
    width: 84%;
    height: 36rem;
  } 
  .modal_others_acitve {
    width: 80%;
  }

.header-text > p {
  color: #ffffff;
  letter-spacing: 2px;
  border-radius: 10px 82px 88px 19px;
  padding: 14px;
  line-height: 28px;
  /* border-radius: 5px; */
  background: #77777775;
}
}

@media only screen and (max-width: 700px) {
  .header-image > .img_one {
    width: 11rem;
    height: 313px;
  }

  .header-text > p {
    color: #ffffff;
    letter-spacing: 2px;
    border-radius: 10px 82px 88px 19px;
    padding: 14px;
    line-height: 28px;
    /* border-radius: 5px; */
    background: #77777775;
}
.mt-0 span {
  font-size: 0.9rem;
}
h5 {
  font-size: 1.1rem;
}
}

.filter-product {
 display: flex;
}


@media only screen and (max-width: 600px) {
  .header-image {
    display: none;
  }
  .info {
    align-items: center;
    display: flex;
    padding: 3vh;
    flex-direction: column;
    align-items: center;
}

.header-text {
  margin: 1px 1vw;
  width: 94%;
}

#product {
  flex: 1 0 12pc;
    max-width: 13pc;
    flex-wrap: wrap;
}

}




@media only screen and (max-width: 500px) {
  .navbar-two > div {
  padding: 5px;
  }
  .text-payment {
    font-size: 12px;
    padding: 10px;
    margin: 0;
    text-align: center;
}
.col-full {
display: none;
}
  .nav-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}
.nav-header>img {
  width: 21rem;
  height: 3rem;
}

.hover-animation {
  font-size: 11px;
  font-weight: 500;
  padding: 0px;
}
.links {
  /* display: none; */
}

.linksMob {

}



.links> span > .navlink {
  padding: 2rem;
}
.links_login {
  background-color:#01163108;
}
.links_ > span > a {
  color: #Fff;
  padding: 0px;
  font-size: 0.9rem;

}
.media_ > svg {
  font-size: 1.9em;
}
.media-body {
  
  font-size: 0.9em;

}
.links_ {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  font-weight: 500;
}
.media_ {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filter-product {
  display: flex;
  flex-direction: column;
}
.filter-product  div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

}
.filter >ul > li {
  line-height: 2rem;
}
.filter >ul > li a {
  font-weight: 1000;
}

h3 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1.1rem;
}

.header-text > p {
    font-size: 15px;
    padding: 22px;

}
.p-slider {
  font-size: 0.7rem;
}
.form-group {
  width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.palarax-container h3 {
  font-size: 1.2rem;
  text-align: center;
}

.links_login span a {
  color: rgb(0, 0, 0);
}
.price-label {
  font-weight: 500;
 
  color: #000000;
}
.header-text {
  width: 21rem;
}
.container_  .btn-box {
  width: 100%;
}

.clearFilter {
  width: 100%;
  padding: 4px;
}


.hint-text {
  margin-top: 5px;
}
}